<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Of Pets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="{{ url_for('home') }}">
                    <h1 class="logo__nombre no-margin centrar-texto">House<span class="logo__bold">OfPets</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="{{ url_for('about_us') }}" class="navegacion__enlace">About us</a>
                    <a href="{{ url_for('connections') }}" class="navegacion__enlace">Connections</a>
                    <a href="{{ url_for('contac') }}" class="navegacion__enlace">Contac</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Match with your dream pet</h2>
            <p class="no-margin">Find your pet on our friendly website</p>
        </div>
    </header>

    <main class="contenedor">
        <h3 class="centrar-texto">Fundations</h3>

        <div class="curso">
            <div class="curso__imagen">
                <img src="{{ url_for('static', filename='img/curso1.jpg') }}" alt="Imagen del curso">
            </div>
            <div class="curso__informacion">
                <p class="curso__descripcion">
                    Donec tempor, nisl et rhoncus viverra, turpis enim convallis ligula, non hendrerit nulla tortor nec odio. Morbi non mattis nunc, elementum auctor arcu. Aliquam vestibulum arcu non sem porta auctor. Nam vel congue ligula, eu condimentum felis. Nunc aliquam hendrerit odio sit amet venenatis. Nunc varius, libero a tempor rutrum, nulla risus congue velit, nec suscipit nibh lectus ac dolor. Nulla facilisi.
                </p>
            </div> <!--.curso-informacion-->
        </div> <!--.curso -->

        <div class="curso">
            <div class="curso__imagen">
                <img src="{{ url_for('static', filename='img/curso2.jpg') }}" alt="Imagen del curso">
            </div>
            <div class="curso__informacion">
                <h4 class="no-margin">Sociedad Protectora de Animales de Medellín</h4>
                <p class="curso__label">Street:
                    <span class="curso__info">cra 50bb #81-41</span>
                </p>
                <p class="curso__label">Phone:
                    <span class="curso__info">31514348</span>
                </p>
                <p class="curso__descripcion">
                    Donec tempor, nisl et rhoncus viverra, turpis enim convallis ligula, non hendrerit nulla tortor nec odio. Morbi non mattis nunc, elementum auctor arcu. Aliquam vestibulum arcu non sem porta auctor. Nam vel congue ligula, eu condimentum felis. Nunc aliquam hendrerit odio sit amet venenatis. Nunc varius, libero a tempor rutrum, nulla risus congue velit, nec suscipit nibh lectus ac dolor. Nulla facilisi.
                </p>
            </div> <!--.curso-informacion-->
        </div> <!--.curso -->

        <div class="curso">
            <div class="curso__imagen">
                <img src="{{ url_for('static', filename='img/curso3.jpg') }}" alt="Imagen del curso">
            </div>
            <div class="curso__informacion">
                <h4 class="no-margin">Fundación Las Golondrinas</h4>
                <p class="curso__label">Street:
                    <span class="curso__info">cra 50bb #81-41</span>
                </p>
                <p class="curso__label">Phone:
                    <span class="curso__info">31514348</span>
                </p>
                <p class="curso__descripcion">
                    Donec tempor, nisl et rhoncus viverra, turpis enim convallis ligula, non hendrerit nulla tortor nec odio. Morbi non mattis nunc, elementum auctor arcu. Aliquam vestibulum arcu non sem porta auctor. Nam vel congue ligula, eu condimentum felis. Nunc aliquam hendrerit odio sit amet venenatis. Nunc varius, libero a tempor rutrum, nulla risus congue velit, nec suscipit nibh lectus ac dolor. Nulla facilisi.
                </p>
            </div> <!--.curso-informacion-->
        </div> <!--.curso -->

    </main>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="{{ url_for('home') }}">
                    <h1 class="logo__nombre no-margin centrar-texto">House<span class="logo__bold">OfPets</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="{{ url_for('about_us') }}" class="navegacion__enlace">About us</a>
                    <a href="{{ url_for('connections') }}" class="navegacion__enlace">Connections</a>
                    <a href="{{ url_for('contac') }}" class="navegacion__enlace">Contac</a>
                </nav>
            </div>
        </div>
    </footer>
    
    <script src="js/modernizr.js"></script>
</body>
</html>