{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Of Pets</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">House<span class="logo__bold">OfPets</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="About_us.html" class="navegacion__enlace">About us</a>
                    <a href="connections.html" class="navegacion__enlace">Connections</a>
                    <a href="sign_in.html" class="navegacion__enlace">Sign in</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Match with your dream pet</h2>
            <p class="no-margin">Find your pet on our friendly website</p>
        </div>
    </header>

    <main class="contenedor">
        <h3 class="centrar-texto">Contacto</h3>

        <div class="contacto-bg"></div>


        <form class="formulario" action="/registration" method="POST">

            <div class="campo">
                <label class="campo__label" for="name">Name</label>
                <input 
                    class="campo__field"
                    type="text" 
                    placeholder="Your name" 
                    id="nombre"
                >
            </div>
            <div class="campo">
                <label class="campo__label" for="phone">Phone</label>
                <input 
                    class="campo__field"
                    type="numeber" 
                    placeholder="Your phone" 
                    id="email"
                >
            </div>
            <div class="campo">
                <label class="campo__label" for="email">E-mail</label>
                <input 
                    class="campo__field"
                    type="email" 
                    placeholder="Your E-mail" 
                    id="email"
                >
            </div>
            <div class="campo">
                <label class="campo__label" for="address">Address</label>
                <input 
                    class="campo__field"
                    type="email" 
                    placeholder="Your address" 
                    id="email"
                >
            </div>

            <div class="campo">
                <input type="submit" value="Submit" class="boton boton--primario">
            </div>
        </form>

        
    </main>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">House<span class="logo__bold">OfPets</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="About_us.html" class="navegacion__enlace">About us</a>
                    <a href="connections.html" class="navegacion__enlace">Connections</a>
                    <a href="sign_in.html" class="navegacion__enlace">Sign in</a>
                </nav>
            </div>
        </div>
    </footer>
    
    <script src="js/modernizr.js"></script>
</body>
</html>